<div class="jumbotron center">
	<div class="container">
  		<h1>Programmers Code_</h1>
  			<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  			<p><%= link_to "Learn more", "#", class: "btn btn-success btn-lg" %></p>
  	</div><!-- end of container -->
</div><!-- end of jumbotron -->



