/* sass scheme */

$primary-color:		#36D7B7;
$border-color:			#eaeaea;

// Defining values
$screen-sm-min: 		768px;
$screen-xs-max:		 ($screen-sm-min - 1);
$screen-md-min:		 992px;
$screen-sm-max: 		($screen-md-min - 1);
$screen-lg-min: 		1200px;
$screen-md-max: 		($screen-lg-min - 1);		


@import "bootstrap-sprockets";
@import "bootstrap";

.logo {
	float: left;
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
/* header section */
.jumbotron {
	background-image: asset-url('codes1.jpeg');
	background-repeat: no-repeat;
  	background-attachment: scroll;
  	background-position: center center;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
  	background-size: cover;
                  -o-background-size: cover;
  	height: 100%;
  	width: 100%;
}
.jumbotron .container h1 {
	color: $primary-color;
	font-weight: 700;

}
.jumbotron .container {
	color: #fff;
	background: rgba(0,0,0,0.1);
	margin-bottom: 5%;
	margin-top: 5%;
}
.article-actions {
	border-top: 1px solid $border-color;
	padding-top: 5px;
}
.article-title {
	font-weight: bold;
	font-size: 1.5em;
}
.article-body {
	border-top: 1px solid $border-color;
	padding-top: 15px;
	padding-bottom: 15px;
}
.article-meta-details{
	border-top: 1px solid $border-color;
	margin-top: 15px;
}
/* footer style */
.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $border-color;
}
.footer ul {
	list-style: none;
	float: right;
}
.description {
	margin-top: 0px;
}