<footer class="footer">
      <div class="container">
        	<small>
        		Copyright &copy <a href="#">The Complete Ruby on Rails Web Application</a>
        		by <a href="#">Edison Villarta</a>
        	</small>
        	<ul>
        		<li><%= link_to "About", about_path %></li>
        	</ul>
      </div>
</footer>